#Image{
    width: 60%;
    height: 40%;
    position: relative;
}

#Image1{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

#Top-Left{
  position: absolute;
  top: 0;
}

#Top-Right{
  position: absolute;
  right: 0;
  top: 0;
}

#Bottom-Left{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3.84;
}

#Bottom-Right{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3.84;
}



